<h1>Dados</h1>

<h2>Nome:</h2>

<p>Marcos de Jesus Oliveira</p>

<h2>RA:</h2>

<p>0050831921016</p>

<h2>GitHub</h2>

<a href="https://github.com/Marcs20" target="_blank">Perfil no GitHub</a>

<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Dia</th>
      <th>Horário</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Desenvolvimento para dispositivos móveis I</td>
      <td>Seg</td>
      <td>19:00 as 22:30</td>
    </tr>
    <tr>
      <td>Inglês V</td>
      <td>Ter</td>
      <td>19:00 as 20:40</td>
    </tr>
    <tr>
      <td>Negócios e Marketing Eletrônicos</td>
      <td>Qua</td>
      <td>19:00 as 22:30</td>
    </tr>
    <tr>
      <td>Desenvolvimento para Servidores II</td>
      <td>Qui</td>
      <td>19:00 as 22:30</td>
    </tr>
    <tr>
      <td>Tópicos Especiais em Sistemas para Internet II</td>
      <td>Sex</td>
      <td>19:00 as 22:30</td>
    </tr>
    <tr>
      <td>Projeto do trabalho de graduação em Sistemas</td>
      <td>Sab</td>
      <td>11:30 as 13:10</td>
    </tr>
  </tbody>
</table>